@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

.ktLOBU {
  border: 0px solid rgb(27, 27, 139, 0) !important;
  width: 40vw !important;
  height: 40vh !important;
  margin-top: 20vh !important;
  margin-left: 30vw;
  margin-bottom: 10vh;
}

.form {
  font-family: "Raleway", sans-serif !important;
}

@media only screen and (max-width: 600px) {
  .ktLOBU {
    margin-top: 5vh !important;
    width: 50vw !important;
    height: 50vh !important;
    margin-left: 25% !important;
  }
}
