@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.MuiAvatar-root {
  background-color: rgb(119, 147, 172) !important;
  justify-content: center;
}

.submitLogin {
  background-color: rgb(119, 147, 172) !important;
  color: white !important;
  width: 10vw !important;
  margin-top: 5vh !important;
}

.MuiGrid-container {
  margin-top: 2%;
  display: block !important;
}

.loginContainer {
  width: 40% !important;
  float: right;
  margin-right: 5vw !important;
  font-family: "Raleway", sans-serif !important;
}

input {
  font-family: "Raleway", sans-serif;
}

input[type="text"]:not(.browser-default):focus:not([read-only]) {
  border-bottom: 2px solid rgb(119, 147, 172) !important;
  box-shadow: none !important;
  font-family: "Raleway", sans-serif;
}

input[type="text"]:not(.browser-default) {
  border-color: lightgray !important;
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif !important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(119, 147, 172) !important;
  font-family: "Raleway", sans-serif;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiInput-underline {
  border-bottom: none !important;
}

.MuiInput-underline:after {
  border-bottom: none !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}

.login-image {
  float: left;
  width: 48.8vw;
  height: 100vh !important;
}

.MuiTypography-h5 {
  margin-right: 35px !important;
}

.formHead {
  color: rgb(119, 147, 172);
  font-size: 30px !important;
  font-family: "Raleway", sans-serif !important;
  justify-content: center !important;
  margin-right: 1vw !important;
}

.MuiTypography-colorPrimary {
  color: rgb(119, 147, 172) !important;
}

@media only screen and (max-width: 1025px) {
  .login-image {
    display: none;
  }

  .loginContainer {
    float: none !important;
    width: 80% !important;
    margin-right: 10vw !important;
  }

  .MuiAvatar-root {
    margin-left: 34vw !important;
  }

  .formHead {
    margin-bottom: 10vh !important;
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 770px) {
  .submitLogin {
    width: 11vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .MuiAvatar-root {
    margin-left: 31vw !important;
    margin-bottom: 2vh !important;
  }

  .submitLogin {
    width: 22vw !important;
  }
}
