.virtual {
  background-color: rgb(226, 236, 245);
  height: 101vh;
  margin-left: -7px;
  padding-top: 30px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
  .virtual {
    height: 101.6vh;
  }
}
