:root {
  --dark-color-a: rgb(106, 140, 168);
  --dark-color-b: rgb(135, 168, 196);
  --light-color: #e9ebff;
  --success-color: #385a38;
  --error-color: #744e4d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background: rgb(159, 192, 221);
  color: rgb(106, 140, 168);
  border: 0;
  font-size: 17px;
  margin-left: 10px;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(161, 211, 255);
  color: rgb(77, 103, 126);
}

/* Chat Page */

.chat-container {
  width: 100.4%;
  background: #fff;
  overflow: hidden;
  bottom: 0px;
  position: fixed;
}

.chat-header {
  background: var(--dark-color-a);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  overflow-y: scroll;
  text-align: center;
  font-size: 15px;
  padding: 5px 0px 25px 65px;
  width: 470px;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: darkslategray;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
  padding-left: 150px;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  color: white;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  width: 100%;
}

@media (max-width: 600px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }

  .chat-form-container form {
    padding-left: 0px;
  }

  .chat-messages {
    height: 100px;
  }
}
