.attendance {
  background-color: rgb(226, 236, 245);
  height: 100%;
  text-align: center;
  padding-top: 30px;
  margin-top: 10px;
  width: 65vw;
  padding-bottom: 10vh;
}

.take-attendance {
  padding: 6px 16px;
  font-size: 12px;
  min-width: 64px;
  box-sizing: border-box;
  background-color: rgb(117, 143, 165);
  border: 2px rgb(117, 143, 165) solid;
  color: white;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  float: right;
}

.take-attendance:hover {
  background-color: rgb(161, 186, 209);
  border: 2px rgb(161, 186, 209) solid;
  cursor: pointer;
}

.check-in {
  padding: 6px 16px;
  font-size: 12px;
  width: 115px !important;
  box-sizing: border-box;
  background-color: rgb(117, 143, 165);
  border: 2px rgb(117, 143, 165) solid;
  color: white;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: uppercase;
}

.check-in:hover {
  background-color: rgb(161, 186, 209);
  border: 2px rgb(161, 186, 209) solid;
  cursor: pointer;
}

button:focus {
  background-color: rgb(161, 186, 209) !important;
  border: 2px rgb(161, 186, 209) !important;
}

@media only screen and (max-width: 600px) {
  .attendance {
    margin-top: 0px;
    width: 89vw;
    margin-left: -15vw;
  }
}
