audio,
video {
  display: inline-block;
  margin-left: 30vw;
  background-color: black;
  margin-top: 100px;
  width: 40vw;
  height: 35vh;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
  audio,
  video {
    width: 60vw;
    margin-left: 23vw;
    margin-top: 80px;
  }
}
