.grades {
  background-color: rgb(226, 236, 245);
  height: 100%;
  text-align: center;
  padding-top: 30px;
  margin-left: -18vw;
  width: 100vw;
  padding-bottom: 10vh;
}

.table-container {
  width: 80%;
  margin-left: 12vw;
}

@media only screen and (max-width: 1025px) {
  .grades {
    margin-top: 0px;
    width: 100vw;
    margin-left: 0vw;
  }
}

@media only screen and (max-width: 600px) {
  .grades {
    margin-top: 0px;
    margin-left: -15vw;
  }

  .table-container {
    margin-left: 3vw;
    width: 98vw;
  }

  .MuiTableContainer-root {
    width: 103% !important;
  }
}
