.grades {
  background-color: rgb(226, 236, 245);
  height: 100%;
  text-align: center;
  padding-top: 30px;
  margin-top: 10px;
  width: 65vw;
  padding-bottom: 10vh;
}

.table-container {
  width: 80%;
  margin-left: 12%;
}

@media only screen and (max-width: 600px) {
  .grades {
    margin-top: 0px;
    width: 89vw;
    margin-left: -15vw;
  }
}
